@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
}

body {
    box-sizing: border-box;
    background-color: #f9f1f1;
}

.img_user {
    display: flex;
    margin-top: 2px;
    border: 2px solid black;
    border-radius: 10px;
}
