<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Monitoramento Córrego</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>

<body>
    <main class="container">
        <img src="/Assets/imagens/enchente.png" alt="ImagemPlanetaTerra" width="312" height="312">
        <h3 style="color: white;">Monitoramento Córrego Av. Carlos Caldeira Filho</h3>
        <section class="formulario">
            <div class="formulario_form">
                <form class="forms">
                    <div class="form">
                        <input type="text" class="form-control" id="email" placeholder="Email" required>
                    </div>
                    <div class="form">
                        <input type="password" class="form-control" id="senha" placeholder="Senha">
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a class="btn btn-secondary" href="javascript:;" role="button" id="Login">Entrar</a>
                    </div>
                </form>
            </div>
        </section>

        <section class="link">
            <div class="link_links">
                <div class="links_cadastro">
                    <a href="#" class="link-light" onclick="Cadastrar()">
                        Cadastre-se clicando aqui
                    </a>
                </div>
                <div class="links_resetsenha">
                    <a href="/#" class="link-light" data-bs-toggle="modal"
                       data-bs-target="#ModalReset">
                        Esqueci minha senha
                    </a>
                </div>
            </div>
        </section>
    </main>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/login.js" asp-append-version="true"></script>
</body>
</html>